<!DOCTYPE html>
<html ng-app="app">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="script.js"></script>
    </head>
    
    <body ng-controller="LoginController">
        <h1>{{title}}</h1>
        <form>
            <fieldset>
                
                <legend>Login</legend><br>
                <label for="user">Usuário:</label><select id="user" name="user" type="checkbox" ng-model="login.user" ><option value="">--Selecione o usuário--</option><option value="a">Usuário A</option><option value="b">Usuário B</option></select><br><br>
                <label for="key">Senha:</label><input id="key" name="key" type="text" ng-model="login.key" /><br><br>
                <button ng-disabled="login.key===''" ng-click="autenticar()">Entrar</button>
            </fieldset>
        </form>
    </body>
</html>