<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Lima & LIma - Promotora de Crédito</title>
        <link rel="stylesheet" type="text/css" href="authentication.css">
    </head>
    <body ng-controller="LoginController">
        <p>
        <div class="wrapper">
            <h1>{{title}}</h1>
            <label for="user">Usuário:</label>
                <select id="user" class="fieldUser" name="user" type="checkbox" ng-model="login.user" >
                    <option value="">--Selecione o usuário--</option>
                    <option value="a">Usuário A</option>
                    <option value="b">Usuário B</option>
                </select><br/><br/>
            
            <label for="key">Senha:</label>
                <input id="key" class="fieldKey" name="key" type="password" ng-model="login.key" /><br/><br/>
            
            <div class="buttonEnter">
                <button ng-click="autenticar()">Entrar</button>
            </div>
        </div>
        </p>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="authenticationCtrl.js" type="text/javascript"></script>
    </body>
</html>